#dependencies

#build
/node_modules
/public/bundle.js
/build
/public/hashed-names.json
/public/bundle.*.js
/public/*.bundle.*.js
/public/meta.json
/public/index.html
/public/sw.js
/*.env
#IDE
.vscode
.idea

package-lock.json
src/client/assets/icons/.DS_Store
keyFile.json