.root {
    width: 100%;
}

.radio {
    border: 2px solid red;
}
.title {
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;
}

.addNewContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    cursor: pointer;
}

.addNewContent span {
    font-size: 25px;
    margin-right: 10px;
}

.addNewAddress {
    width: 100%;
    max-width: 830px;
    margin: auto;
}


.button {
    max-width: 190px;
    margin: 30px auto;
}



@media screen and (max-width: 784px) {
    .button {
        max-width: 343px;
    }
}

.loadingWrapper {
    position: relative;
    width: 100%;
    height: 20vh;
}

.dialog {
  max-width: 524px;
  height: 318px;
}

@media screen and (max-width: 784px) {
  .dialog {
    max-width: 343px;
    height: 311px;
    border-radius: 10px;
  }
}

.error {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.deliveryTimeContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deliveryTimeDiv {
    display: flex;
    max-width: 796px;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

@media screen and (max-width: 410px) {
    .deliveryTimeDiv {
        flex-direction: column;
        align-items: center;
    }
}

.deliveryTimeDivChecked {
    composes: deliveryTimeDiv;
    margin-top: 0;
}

.titleWrapper p {
    margin-top: 14px;
}

.checkToSeparate {
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonComponent {
    composes: button_primary from '../../../../components/Button/button.css';
    max-width: 180px;
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    text-align: center;
}