.noItems {
    text-align: center;
}

.list {
    max-height: 400px;
    overflow: auto;
    padding-right: 20px;
}

.list::-webkit-scrollbar {
    width: 2px;
    background-color: #E2E2E2;
    margin-left: 20px;
}

.list::-webkit-scrollbar-thumb {
    background-color: var(--global-button-color-dark);
    height: 150px;
}

.list::-webkit-scrollbar .list{
    background-color: red;
}

.row {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 0.4fr 0.8fr 0.6fr 0.8fr;
    margin-bottom: 3px;
    column-gap: 20px;
    padding-right: 20px;
}

.reportRow {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 0.6fr 0.6fr 0.6fr;
    margin-bottom: 3px;
    column-gap: 20px;
    padding-right: 20px;
}

.rowData {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 0.4fr 0.8fr 0.6fr 0.8fr;
    padding: 10px 0;
    align-items: center;
    column-gap: 20px;
}

.reportRowData {
    display: grid;
    grid-template-columns: 0.7fr 1.2fr 0.6fr 0.6fr 0.6fr;
    padding: 10px 0;
    align-items: center;
    column-gap: 20px;
}

.pic {
    max-width: 98px;
    max-height: 98px;
}

.quantityInput {
    max-width: 118px;
    width: 100%;
}

.quantityInput input {
    border: 1px solid #E2E2E2;
}

.button {
    composes: button_primary from '../../../components/Button/button.css';
    margin-top: 10px;
    min-height: 51px;
    max-width: 118px;
    padding: 12px 15px;
}

.removeProduct {
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}

.load {
    text-decoration: none;
}

.remove {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1150px) {
    .name {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (max-width: 890px) {
    .row {
        grid-template-columns: 0.7fr 1fr 0.4fr 0.8fr 0.8fr 0.8fr;
    }
    
    .rowData {
        grid-template-columns: 0.7fr 1fr 0.4fr 0.8fr 0.8fr 0.8fr;
    }
}

@media screen and (max-width: 784px) {
    .list {
        display: flex;
        flex-direction: column;
        max-height: 600px;
        padding-right: 0;
    }

    .pic {
        max-width: 114px;
        max-height: 114px;
    }

    .rowData {
        display: flex;
        grid-template-columns: unset;
        column-gap: unset;
        align-items: unset;
        border-bottom: 1px solid #DBDBDB;
        padding: 12px 0;
    }

    .reportRowData {
        composes: rowData;
    }

    .imageWrapper {
        margin-right: 15px;
    }

    .name {
        margin-bottom: 8px;
        max-width: unset;
        white-space: unset;
    }

    .quantityInput {
        margin: 12px 0;
    }

    .remove {
        margin-top: 12px;
    }

    .button {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    .name {
        max-width: 160px;
        white-space: nowrap;
    }

    .imageWrapper {
        margin-right: 8px;
    }
}

@media screen and (max-width: 350px) {
    .name {
        max-width: 100px;
    }
}