.root {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 18px 32px 20px;
    box-sizing: border-box;
}

.row {
    display: grid;
    grid-template-columns: 2fr 2.3fr 1.5fr 1fr;
    column-gap: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid #DBDBDB;
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .row {
        grid-template-columns: 2.2fr 2.3fr 1.5fr 1fr;
    }
}

@media screen and (max-width: 992px) {
    .root {
        padding: 18px 20px 20px;
    }
}

@media screen and (max-width: 784px) {
    .root {
        background-color: unset;
        padding: 0;
    }
}