.root {
    padding: 40px 16px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.orderNowBtn {
    composes: button_primary from '../Button/button.css';
    max-width: 148px;
    width: 100%;
    padding: 10px 29px;
    margin: 0 auto;
    margin-top: 40px;
    height: 44px;
}

.deliveryPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 802px;
    width: 100%;
    margin-top: 30px;
}

.loadingWrapper {
    width: 60vw;
    height: 80vh;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .root {
        padding: 20px 16px 0;
    }

    .deliveryPrice {
        max-width: 343px;
    }
    
    .orderNowBtn {
        max-width: 343px;
        margin-top: 30px;
    }
}