.root {
    max-width: 802px;
    margin: 0 auto;
    margin-top: 60px;
    width: 100%;
}

.title {
    margin-bottom: 16px;
    text-align: center;
}

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    margin-bottom: 24px;
}

.field {
    composes: input from '../Input/input.css';
    max-width: 385px;
    width: 100%;
    height: 51px;
}

.errorInputComponent {
    composes: field;
    border: 1px solid #C20000;
    margin-bottom: 4px;
}

.error {
    width: 100%;
    line-height: 19px;
    letter-spacing: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.errorIcon {
    width: 20px;
    height: 18px;
}

.notesInput {
    composes: input from '../Input/input.css';
    width: 100%;
    height: 109px;
    resize: none;
}

@media screen and (max-width: 768px) {
    .root {
        text-align: center;
        margin-top: 40px;
    }

    .field {
        max-width: 343px;
        height: 47px;
    }

    .fields {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 16px;
        row-gap: 16px;
    }

    .notesInput {
        max-width: 343px;
        height: 80px;
    }

    .error {
        max-width: 343px;
        margin: 0 auto;
    }
}