.contactUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
}

.contactUs div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contactUs div h3{
    margin-left: 8px;
}

.hiddenContactUs {
    display: none;
}

@media screen and (max-width: 800px) {
    .contactUs {
        margin-right: 35px;
    }
}