.root {
  margin-top: 30px;
}
/* tabs */
.tabWrapper {
  overflow-x: scroll;
}
.tabWrapper::-webkit-scrollbar {
    display: none;
}

.stepstab {
  display: flex;
  width: max-content;
  margin: 0 auto;
  /* justify-content: space-between; */
}

@media screen and (max-width: 784px) {
  .stepstab {
    max-width: 285px;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .courierStepsTab {
    max-width: 250px;
  }

  .stepstab::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}

.item {
  display: flex;
  align-items: center;
  transform: rotateX("180px");
}

.stepstabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.stepTitle {
  font-size: 14px;
  white-space: nowrap;
  margin-bottom: 14px;
}

.line {
  background: #e2e2e2;
  height: 1px;
  width: 95px;
  max-width: 150px;
  margin-top: 30px;
}

.lineSelected {
  background: #a2a2a2;
}

@media screen and (max-width: 784px) {
  .line {
    width: 70px;
  }
}

.stepstabItem:last-child {
  margin-right: 0;
}

.stepActive {
  color: var(--global-button-color-dark);
}

.stepActive .stepstabItemIcon svg path {
  fill: var(--global-button-color-dark) !important;
}

/* content */
.tabContent {
  justify-content: center;
  margin-top: 36px;
}

.DeliveryTypeItem {
  margin: -20px;
}

.delTypeItem {
  margin: 0;
  margin-right: -20px;
}

.BillingAddressItem {
  margin: 0 -26px;
}

.firstItem {
  margin: unset;
  margin-right: -25px;
}

.DeliveryAddressItem {
  margin: 0 -31px;
}

.PaymentItem {
  margin: 0 -8px;
}

.SummaryItem {
  margin-left: -10px;
}
